#calculator.calculator
  .calculator__top
    .calculator__row.calculator__row_inline
      .calculator__item
        label.calculator__label Сумма
        .calculator__input-box.rubl
          input.calculator__input(type="text")
        .calculator__rangeslider
          input#summa(type="range" min="10000" max="999999999")
      .calculator__item
        label.calculator__label Срок
        .calculator__input-box.select
          select#calculator-period.ui-select
            option(value="1") 1 мес.
            option(value="2") 2 мес.
            option(value="3") 3 мес.
            option(value="4") 4 мес.
            option(value="5") 5 мес.
            option(value="6") 6 мес.
            option(value="7") 7 мес.
            option(value="8") 8 мес.
            option(value="9") 9 мес.
            option(value="10") 10 мес.
            option(value="11") 11 мес.
            option(value="12") 12 мес.
        //- .calculator__switcher
        //-   #switcher-month.switcher
        //-     .switcher__item
        //-       input#radio-3.switcher__radio(type="radio" value="3" name="month")
        //-       label.switcher__label.switcher__label_number(for="radio-3") 3
        //-     .switcher__item
        //-       input#radio-6.switcher__radio(type="radio" value="6" name="month")
        //-       label.switcher__label.switcher__label_number(for="radio-6") 6
        //-     .switcher__item
        //-       input#radio-12.switcher__radio(type="radio" value="12" name="month")
        //-       label.switcher__label.switcher__label_number(for="radio-12") 12
      .calculator__item
        label.calculator__label Выплата процентов
        .calculator__switcher
          #switcher-percent.switcher
            //- .switcher__item.responsive
            //-   input#radio-add.switcher__radio(type="radio" value="add" name="percent")
            //-   label.switcher__label.switcher__label_txt(for="radio-add") Добавлять к сумме вклада
            .switcher__item.responsive
              input#radio-every.switcher__radio(type="radio" value="every" name="percent")
              label.switcher__label(for="radio-every") Получать процент ежемесячно
        
  .calculator__result
    .calculator__result-row
      .calculator__result-item
        label Вы получите
        span#total.rubl 234000
      .calculator__result-item
        label Доход
        span#dohod.rubl 34000
      .calculator__result-item
        label Ставка
        span#stavka._green 17
