#calculator.calculator
  .calculator__top
    .calculator__row.calculator__row_inline
      .calculator__item
        label.calculator__label Сумма
        .calculator__input-box.rubl
          input.calculator__input.summa(type="text")
        .calculator__rangeslider
          input#summa-slider(type="range" min="10000" max="9999999")
      //- .calculator__item
      //-   label.calculator__label Пополнение в месяц
      //-   .calculator__input-box.rubl
      //-     input.calculator__input.refil(type="text")
      //-   .calculator__rangeslider
      //-     input#refil-slider(type="range" min="10000" max="999999999")
      .calculator__item
        label.calculator__label Срок
        .calculator__input-box.select
          select#period-select.ui-select
            option(value="1") 1 мес.
            option(value="2") 2 мес.
            option(value="3") 3 мес.
            option(value="4") 4 мес.
            option(value="5") 5 мес.
            option(value="6") 6 мес.
            option(value="7") 7 мес.
            option(value="8") 8 мес.
            option(value="9") 9 мес.
            option(value="10") 10 мес.
            option(value="11") 11 мес.
            option(value="12") 12 мес.
      .calculator__item
        label.calculator__label Выплата процентов
        .calculator__switcher
          #switcher-percent.switcher
            //- .switcher__item.responsive
            //-   input#add-to-summa.switcher__radio(type="radio" value="add-to-summa" name="percent")
            //-   label.switcher__label.switcher__label_txt(for="add-to-summa") Добавлять к сумме вклада
            .switcher__item.responsive
              input#every-month.switcher__radio(type="radio" value="every-month" name="percent")
              label.switcher__label(for="every-month") Получать процент ежемесячно
        
  .calculator__result
    .calculator__result-row
      .calculator__result-item
        label Вы получите
        span.total.rubl
      .calculator__result-item.calculator__result-item_report
        ul.list.list-report
          li
            label Общий доход
            span.profit.rubl
          li 
            label Доход в месяц
            span.profit-in-month.rubl
          li
            label Ставка
            span.rate
          li
            label Срок
            span.period
      .calculator__result-item
        button.btn.btn-orange(type="button")
          span Посмотреть адреса офисов
        .links
          .links__item
            a.link(href="#")
              i.icon.icon-search
              span Полные условия
          .links__item
            a.link(href="#")
              i.icon.icon-search
              span График начислений
