section.section.section_support
	.container
		.support__item Если у вас остались вопросы, наши специалисты проконсультируют вас
		.support__item
			.support__phone
				a(href="tel:88124253797")
					span 8 812 425-37-97

footer.footer
	.container
		.row
			.footer__item.col1
				.footer__logo
					img(src="img/agentstvo-strah.png")
			.footer__item.col2 Вклады «Плюс Банка» застрахованы государством
			.footer__item.col3 © ПАО «Плюс Банк», 2017 г. Банковская лицензия № 1189 от 10.09.2015
			.footer__item.footer__item_it-agency
				.it-agency
					a(href="#" title="Построение продаж")
						img(src="img/it-agency.png")
						span Построение<br/>продаж

