section.section.section_support
	.container
		.support__item
			.txt Если у вас остались вопросы,<br> наши специалисты проконсультируют вас
		.support__item.support__item_phone
			.support__phone
				a._link(href="tel:88124253797")
					span 8 812 425-37-97

footer.footer
	.container
		.row
			.footer__item.col1
				.footer__logo
					img(src="img/agentstvo-strah.png")
			.footer__item.col2 Вклады «Плюс Банка» застрахованы государством
			.footer__item.col3 © ПАО «Плюс Банк», 2017<br> г. Банковская лицензия № 1189 от 10.09.2015
			.footer__item.footer__item_it-agency
				.it-agency
					a._link(href="http://it-agency.ru" title="Построение продаж")
						img(src="img/it-agency.png")
						span Построение<br/>продаж

