header.header
	.header__container
		.header__logo
			a.logo(href="/")
				img(src="img/logo.png")
		.header__nav
			nav.nav
				.nav__item
					a.nav__link._active(href="#calculator")
						span Калькулятор
				.nav__item
					a.nav__link(href="#programs")
						span Программы
				.nav__item
					a.nav__link(href="#about")
						span О компании
				.nav__item
					a.nav__link(href="#faq")
						span Ответы и вопросы
				.nav__item
					a.nav__link(href="#contacts")
						span Контакты
		.header__phone-xs
			a.header__phone(href="tel:+8422425071")
				span +7 (8422) 42-50-71
		.header__right
			a.header__phone(href="tel:+8422425071")
				span +7 (8422) 42-50-71
			a.header__callback.js-show-callback(data-modal="callback")
				span Обратный звонок
		button.burger(type="button")

nav.nav.nav-xs
	.nav-xs__container
		button.nav-xs__close.js-nav-close(type="button") Закрыть
		.nav-xs__box
			ul.nav__list.nav-xs__list
				li.nav-xs__item
					a.nav-xs__link
						span Калькулятор
				li.nav-xs__item
					a.nav-xs__link
						span Программы
				li.nav-xs__item
					a.nav-xs__link
						span О компании
				li.nav-xs__item
					a.nav-xs__link
						span Ответы и вопросы
				li.nav-xs__item
					a.nav-xs__link
						span Контакты
