head
	title Вклады в Санкт-Петербурге со ставкой 8%
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=Edge")
	meta(name="viewport" content="1160px")
	link(rel="stylesheet" href="css/app.css")
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
	script(src="js/main.js")
