section.section.section_hello
  .container
    h1.ttl.ttl_main Сбережения в Ульяновске <br/>с доходом от 10,5% до 17,0%
    .subttl.subttl_main Как вклад в банк, только выгоднее
    ul.list.list-marked
      li Работаем под строгим контролем Центрального Банка РФ
      li Сбережения застрахованы на всю сумму
      li Принимаем сбережения от 1000 руб.
.b-calculator
  .container
    include calc