.b-print
	.b-print__container
		.b-print__header
			table.b-print__tbl
				tr
					td.b-print__logo
						img(src="img/logo-color.png" width="83px")
					td.b-print__hotline Круглосуточный телефон 8 812 425-37-97
			.b-print__title Предварительный расчёт по программе &laquo;<span>Сезонный плюс</span>&raquo;
		.b-print__content
			.b-print__ttl Ваш доход <span>12 200 205</span> <span class="rubl"></span>
			.b-print__info.row
				.col.col-6
					label Сумма к концу срока 
					span 15 952 200 <span class="rubl"></span>
				.col.col-6
					label Срок вклада 
					span 12 мес.
				.col.col-6
					label Ежемесячный доход 
					span 16 200 <span class="rubl"></span>
				.col.col-6
					label Выплата процентов 
					span ежемесячно
				.col.col-6
					label Годовая ставка 
					span 12&thinsp;%
		.b-print__image.row
			.col.col-6
				img(src="https://maps.googleapis.com/maps/api/staticmap?center=55.748231,37.540459&zoom=14&scale=false&size=900x900&maptype=roadmap&key=AIzaSyBl0aJ_oz60dN16X2IhahAwHAIAC97QCw4&format=png&visual_refresh=true&markers=icon:http://invest.joy.money/local/templates/.default/dist/images/pin.png%7Cshadow:true%7C55.748231,37.540459&language=ru")
			.col.col-6
				p ул. Малая Посадская, дом 4а, лит. А, пом.
				p Пн – Пт: 9:00 – 19:00, без перерыва. Сб, Вс: выходной
				p.phone 8 823 425-37-97