section.section.section_program
	.container
		.section__title
			.h2.ttl.ttl_h2 Сравнение программ
			.subttl При сбережении 100 000 рублей на 24 месяца
		.b-programs
			.row
				.col.col-4
					.b-programs__item
						.b-programs__row
							.b-programs__title Пенсионный доход
						.b-programs__row
							.b-programs__label Вы получите
							.b-programs__txt.itogo.rubl
								span 345678
						.b-programs__row
							.b-programs__label Доход по программе
							.b-programs__txt.rubl
								span 34567 рублей
						.b-programs__row
							.b-programs__label Процентная ставка
							.b-programs__txt
								span 15%
						.b-programs__row
							.b-programs__label Минимальное сбережение
							.b-programs__txt.rubl
								span от 1 000
						.b-programs__row
							.b-programs__label Пополнение
							.b-programs__txt.rubl
								span от 1 000
						.b-programs__row
							.b-programs__label Начисление и выплата процентов
							.b-programs__txt._last
								span В конце срока или ежемесячно
						.b-programs__row
							button.btn.btn_white(type="button") Полные условия
				.col.col-4
					.b-programs__item._active
						.b-programs__row
							.b-programs__title Семейная копилка
						.b-programs__row
							.b-programs__label Вы получите
							.b-programs__txt.itogo.rubl
								span 345678
						.b-programs__row
							.b-programs__label Доход по программе
							.b-programs__txt.rubl
								span 34567
						.b-programs__row
							.b-programs__label Процентная ставка
							.b-programs__txt
								span 15%
						.b-programs__row
							.b-programs__label Минимальное сбережение
							.b-programs__txt.rubl
								span от 1 000
						.b-programs__row
							.b-programs__label Пополнение
							.b-programs__txt.rubl
								span от 1 000
						.b-programs__row
							.b-programs__label Начисление и выплата процентов
							.b-programs__txt._last
								span В конце срока или ежемесячно
						.b-programs__row
							button.btn.btn_light(type="button") Полные условия
				.col.col-4
					.b-programs__item
						.b-programs__row
							.b-programs__title Полгода
						.b-programs__row
							.b-programs__label Вы получите
							.b-programs__txt.itogo.rubl
								span 345678
						.b-programs__row
							.b-programs__label Доход по программе
							.b-programs__txt.rubl
								span 34567
						.b-programs__row
							.b-programs__label Процентная ставка
							.b-programs__txt
								span 15%
						.b-programs__row
							.b-programs__label Минимальное сбережение
							.b-programs__txt.rubl
								span от 1 000
						.b-programs__row
							.b-programs__label Пополнение
							.b-programs__txt.rubl
								span от 1 000
						.b-programs__row
							.b-programs__label Начисление и выплата процентов
							.b-programs__txt._last
								span В конце срока или ежемесячно
						.b-programs__row
							button.btn.btn_white(type="button") Полные условия
				.col.col-4
					.b-programs__item
						.b-programs__row
							.b-programs__title До востребования
						.b-programs__row
							.b-programs__label Вы получите
							.b-programs__txt.itogo.rubl
								span 345678
						.b-programs__row
							.b-programs__label Доход по программе
							.b-programs__txt.rubl
								span 34567
						.b-programs__row
							.b-programs__label Процентная ставка
							.b-programs__txt
								span 15%
						.b-programs__row
							.b-programs__label Минимальное сбережение
							.b-programs__txt.rubl
								span от 1 000
						.b-programs__row
							.b-programs__label Пополнение
							.b-programs__txt.rubl
								span от 1 000
						.b-programs__row
							.b-programs__label Начисление и выплата процентов
							.b-programs__txt._last
								span В конце срока или ежемесячно
						.b-programs__row
							button.btn.btn_white(type="button") Полные условия