section.section.section_faq
  .container
    .content
      .content__ttl
        h2.ttl.ttl_h2 Часто задаваемые вопросы
      .content__list
        ul#faq-list.faq
          li.faq__item
            a.faq__question С какого момента вклад считается застрахованным?
            .faq__answer
              p Вклад в банке считается застрахованным со дня включения банка в реестр банков-участников системы страхования вкладов. Ведение этого реестра, в том числе включение в него банков, осуществляет Государственная корпорация «Агентство по страхованию вкладов». Самому вкладчику никаких действий предпринимать не надо.
          li.faq__item
            a.faq__question Когда можно получить возмещение?
            .faq__answer 
          li.faq__item
            a.faq__question Как проверить, входит ли банк в систему страхования вкладов?
            .faq__answer
          li.faq__item
            a.faq__question Какие вклады являются застрахованными?
            .faq__answer
          li.faq__item
            a.faq__question Где можно получить подробную консультацию по вопросам страхования вкладов?
            .faq__answer
          li.faq__item
            a.faq__question Страхуются ли проценты по вкладу?
            .faq__answer
          li.faq__item
            a.faq__question Какие денежные средства не являются застрахованными?
            .faq__answer
  ._bg
