section.section.section_hello(style="background: url('../img/promo-screen.jpg')")
  .container
    h1.ttl.ttl_hello Вклады в Санкт-Петербурге <br/>со ставкой 8%
      .ttl__tip 
        .tip Условия действуют<br> до <em>18 февраля</em>
    ul.list.list-galka
      li 
        span Бесплатное оформление и обслуживание<br> карты VIsa Gold при вкладе от 100 000 
          span.rubl
      li 
        span Вклады застрахованы<br> государством
section.section.section_calculator(data-section="calculator")
  .container
    include calc