section.section.section_protect
  .container
    .zamok
      .zamok__inner
        img(src="img/zamok.png")
    .content
      .content__ttl
        .h2.ttl.ttl_h2 Ваш вклад застрахован<br> государством
      .content__txt
        img(src="img/agentstvo-strah.png" width="336")
        p ПАО «Плюс Банк» включен в реестр банков-участников системы обязательного страхования вкладов. Защита прав и законных интересов вкладчиков банка осуществляется в соответствии с федеральным законом «О страховании вкладов физических лиц в банках Российской Федерации». Система страхования вкладов защитит ваши деньги и гарантированно вернет вам до 1 400 000 рублей.
        .docs
          .docs__item
            a.file(href="#" target="_blank")
              span Лицензия ЦБ РФ
              .file__info
                span.file__info-extension PDF
                span.file__info-size 0,35 МБ