section.section.section_map
	#map.map
	.map__box
		.map__inner
			.map__content
				.map__content-row
					label Адрес:
					p г. Ульяновск, 2-й пер. Мира,<br> д. 28/3 помещение 6-10
				.map__content-row
					label Телефон:
					p 
						a(href="tel:+8422425071")
							span +7 (8422) 42-50-71
				.map__content-row
					label Телефон:
					p Будни с 9:00 до 19:00;<br> Суббота: с 10:00 до 13:00,<br> Воскресенье: выходной
