section#contacts.section.section_map(data-section="contacts")
	#map.map
	.map__box
		.map__box-inner
			.map__title
				h2.ttl.ttl_h2 Адреса офисов
			.map__content
				.map__content-row
					.map__switcher
						button.map__switcher-item.js-map-switch(data-coords="55.74818547347099,37.6238328451877") Горьковский
						button.map__switcher-item.js-map-switch(data-coords="55.75729498607369,37.61409483032777") Московские ворота
						button.map__switcher-item.js-map-switch(data-coords="55.75815692454939,37.63876738498264") Новочеркасский
				.map__content-row
					.map__switcher-content
						p ул. Малая Посадская, дом 4а, лит. А, пом. 1-H Пн – Пт: 9:00 – 19:00, без перерыва. Сб, Вс: выходной
					.map__switcher-content
						p ул. Московские ворота
					.map__switcher-content
						p ул. Новочеркасский
				.map__content-row
					a.btn.js-save-scheme
						span Сохранить схему проезда
