section.section.section_handphone
  .container
    .content
      .content__ttl
        .h2.ttl.ttl_h2 Как происходит выплата процентов
      .content__txt
        .caption В офисе
        p Для вклада от 50 000 рублей выплата процентов производится на счёт. Снять наличные можно в любом офисе банка
        .caption На карту
        p Для вклада от 100 000 ₽ мы оформляем для вас карту Visa Gold и все начисленные проценты попадают на неё
    .handphone
      img(src="img/handphone.png")