section.section.section_kopilka
  .container
    .kopilka
      img(src="img/pig2x.png")
    .content
      .content__ttl
        .h2.ttl.ttl_h2 Как открыть вклад<br> и начать зарабатывать
      .content__list
        ul.list
          li
            span.number 1
            .txt
              .txt__ttl Приезжайте в любое отделение банка
              .txt__content В офисе мы заключим с вами договор и откроем счёт
          li
            span.number 2
            .txt
              .txt__ttl Внесите деньги
              .txt__content Деньги можно внести наличными или переводом из другого банка. Не забудьте собой паспорт
          li
            span.number 3
            .txt
              .txt__ttl Получайте доход
              .txt__content Проценты со вклада будут ежемесячно приходить на счёт или карту Visa Gold