section.section.section_card
  .container
    .content
      .content__txt
        .content__ttl
          h3.ttl.ttl_h3 Карта Visa Gold<br/>при вкладе от 100 000 ₽
        .content__list
          ul.list
            li 
              span бесплатное обслуживание карты;
            li
              span деньги всегда с вами;
            li
              span пользуйтесь процентами по вкладу, когда и где вам удобно.
      .content__img
        img(src="img/card.jpg")