section.section.section_about
  .container
    .content
      .content__ttl
        h2.ttl.ttl_h2 О компании
      .content__txt
        p ПАО «Плюс Банк» основан в 1990 году и входит в число крупнейших банков России - ТОП-150 банков по активам. Также Плюс Банк входит в ТОП-10 банков по объему выданных автокредитов и в ТОП-50 крупнейших банков на рынке кредитования физлиц. В 2012 году Плюс Банк вышел на федеральный уровень и развернул филиальную сеть.
        .boss
          .boss__img
            img(src="img/boss.png")
          .boss__txt
            span.blockquote «Мы не боремся с конкурентами,<br> мы боремся с проблемами клиента»
            label Председатель Правления ПАО «Плюс Банк»<br> Олег Евгеньевич Полуэктов
    .filial-map
      .filial-map__inner
        .filial-map__map
  .container  
    .advance.row
      .advance__item.col.col-3
        .advance__score 748 млн ₽
        .advance__caption уставной капитал банка
      .advance__item.col.col-3
        .advance__score 14 млрд ₽
        .advance__caption привлекли на сбережения
      .advance__item.col.col-3
        .advance__score 60 %
        .advance__caption рост активов, кредитного и депозитного портфелей
      .advance__item.col.col-3
        .advance__score 50
        .advance__caption офисов по России