.calculator
    &__top
        position: relative
        background: radial-gradient(1073.93px at -37.15% -104.17%, #14213D 0%, #0C54A0 100%), #0C54A0
        box-shadow: 0px 8px 40px rgba(5, 51, 99, 0.3)
        border-radius: 10px
        padding: 40px 100px
        text-align: center
        width: 100%
        z-index: 10
    &__row
        position: relative
        width: 100%
        &_inline
            display: inline-block
            vertical-align: top
    &__item
        position: relative
        display: inline-block
        vertical-align: top
        margin-right: 80px
        &:last-child
            margin-right: 0
    &__label
        display: block
        color: #FFFFFF
        font-size: 1.8rem
        line-height: 1.5
        margin-bottom: 20px
        text-align: left
    &__input-box
        position: relative
        border-radius: 5px
        width: 100%
        max-width: 256px
        overflow: hidden
        &.select
            width: 176px
        &.rubl:after
            content: '7'
            color: #FFFFFF
            font-size: 3.2rem
            position: absolute
            top: 8px
            right: 10px
            line-height: 1
    &__input
        position: relative
        display: inline-block
        vertical-align: top
        background-color: transparent
        border: 1px solid rgba(255,255,255,.3)
        border-radius: 5px
        color: #FFFFFF
        font-size: 3rem
        font-weight: 400
        line-height: 1
        padding: 9px 30px 10px 15px
        width: 100%
        outline: none
        z-index: 20
        -webkit-transition: border-color .25s
        -moz-transition: border-color .25s
        transition: border-color .25s
        &:hover
            border: 1px solid rgba(255,255,255,.75)
            cursor: pointer
        &:focus
            border: 1px solid rgba(255,255,255,1)
            cursor: text
        &-progress
            background-color: rgba(255, 255, 255, 0.15)
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 0
            z-index: 10
    &__rangeslider
        position: relative
        width: 100%
        z-index: 30
    &__result
        position: relative
        margin-top: -10px
        z-index: 1
        & .row
            margin: 0 -10px
        & .col
            padding: 0 10px
        &-item
            background: #F2F8FD
            border-radius: 10px
            padding: 48px 30px 38px
    &__program
        font-size: 1.8rem
        font-weight: 400
        margin-top: 15px

.result
    &__get
        font-size: 3rem
        font-weight: 600
        line-height: 1.2
        margin-bottom: 5px
        & label
            display: block
        & .rubl:after
            content: '7'
    &__name
        color: #000000
        font-size: 3.1rem
        font-weight: 600
        margin-bottom: 10px
    &__footer
        & .links
            margin: 24px 0
        

.links
    position: relative
    width: 100%
    &__item
        display: inline-block
        margin-right: 26px
    &:last-child
        margin-right: 0

.list
    &-report
        & li
            font-size: 1.9rem
            line-height: 3.2rem
            margin-bottom: 5px
            &:last-child
                margin-bottom: 0
            &:before
                content: ''
            & label
                display: inline-block
                vertical-align: middle
                width: 150px
            & span
                display: inline-block
                vertical-align: middle
                font-weight: 600
                margin-left: 5px
                &.rubl:after
                    content: '7'




@media (max-width: 1280px)
    .calculator__item
        // margin-right: 40px
@media (max-width: 920px)
    .calculator
        &__result
            // padding: 25px 20px
            &-item
                display: block
                width: 100%
@media (max-width: 768px)
    .calculator
        &__inner
            padding: 20px
        &__item
            display: block
            margin: 0 0 50px
            &:last-child
                margin-bottom: 25px
        &__input-box
            max-width: 100%
