.header
	position: fixed
	width: 100%
	z-index: 100
	& a
		-webkit-transition: all .25s
		-moz-transition: all .25s
		transition: all .25s
	&__container
		position: relative
		margin: 0 auto
		padding: 20px 20px 25px
		max-width: 1170px
		width: 100%
	&__logo
		display: inline-block
		vertical-align: middle
		margin-right: 115px
	&__slogan
		display: block
		font-family: $ff
		font-size: 1.35rem
		padding: 5px 0
	&__caption
		display: block
		font-family: $ff2
		font-size: 3rem
		font-weight: bold
		line-height: 1.5
	&__nav
		display: inline-block
		vertical-align: middle
		& .nav
			display: table-cell
			vertical-align: middle
	&__right
		float: right
		padding-top: 10px
		text-align: right
	&__phone
		background: rgba(255, 255, 255, 0.1)
		border-radius: 5px
		display: block
		color: #ffffff
		font-size: 1.8rem
		line-height: 1
		padding: 11px 7px
		&-xs
			display: none
	&__callback
		background-color: #93c11c
		border: 0
		border-radius: 4px
		color: #ffffff
		font-size: 1.4rem
		font-weight: 700
		letter-spacing: .1rem
		padding: .75rem 1.75rem
		text-transform: uppercase
		&:hover
			background-color: #afda41
			color: #ffffff
		&:active
			background-color: #0c8d35

.logo
	border: 0
	display: inline-block
	vertical-align: middle
	width: 181px

@media (max-width: 1130px)
	.header
		&__container
		&__nav
@media (max-width: 580px)
	.header
		&__phone-xs
			display: none