.section_handphone
	background: #EFF4F9
	padding: 68px 0 0
	z-index: 40
	.content
		display: inline-block
		vertical-align: top
		width: 50%
		&__ttl
			margin-bottom: 40px
		&__txt
			& p
				font-size: 1.9rem
				line-height: 2.8rem
			.caption
				font-size: 2.4rem
				font-weight: 600
				line-height: 1.75
	.handphone
		display: inline-block
		vertical-align: top
		margin-top: -65px
		width: 522px
		line-height: 0
