.section_faq
    background: #EFF4F9
    padding: 40px 0
    z-index: 50
    & .content
        position: relative
        display: inline-block
        vertical-align: top
        z-index: 10
        &__ttl
            margin-bottom: 40px