$link_hover: #EE741D
$link_hover_border: rgba(238,116,29,.25)
$blue: #0C54A0
$blue_border: rgba(12,84,160,.25)
$ff: 'Arial', Helvetica, sans-serif

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

html
	font-size: 10px
	height: 100%

body
	background: #FFFFFF
	color: #000000
	font: 400 19px/1.5 $ff
	margin: 0
	padding: 0
	min-width: 1160px
	overflow-x: hidden

a
	border-bottom: 1px solid transparent
	color: $blue
	cursor: pointer
	outline: none
	text-decoration: none
	&:hover
		color: $link_hover
	&[href^="tel"]
		border: 0
	&._link
		-webkit-transition: all .25s
		-moz-transition: all .25s
		transition: all .25s


img
	max-width: 100%
	height: auto

p
	font-size: 1em
	line-height: 1.5
	margin: 0 0 1.15em

.center
	text-align: center

.right
	text-align: right

._green
	color: #0c8d35 !important

._overflow
	overflow: hidden

.list
	list-style: none
	padding: 0
	margin: 0
	& li
		position: relative
		&:before
			content: '—'
			display: inline
	&-marked
		& li
			font-size: 1.8rem
			font-weight: 600
			padding-left: 28px
			margin: 15px 0
			&:before
				content: ''
				position: absolute
				background: url('../img/mark.png') 0 0 no-repeat
				background-size: cover
				top: 0
				left: 0
				width: 18px
				height: 20px
	&-galka
		& li
			display: inline-block
			vertical-align: top
			color: #ffffff
			font-size: 2.4rem
			margin-right: 45px
			&:last-child
				margin-right: 0 
			&:before
				content: ''
				display: inline-block
				vertical-align: middle
				background: rgba(255, 255, 255, .1) url('../img/galka.png') center center no-repeat
				background-size: 50% 50%
				border-radius: 50%
				margin-right: 10px
				width: 56px
				height: 56px
			& > span
				display: inline-block
				vertical-align: middle

.rubl
	&:after
		content: '5'
		display: inline
		font-family: 'PT Rouble Sans'
		font-size: 1.1em
		line-height: 1

._hide
	display: none
._show
	display: block

.file
	position: relative
	display: inline-block
	font-size: 1.9rem
	padding-left: 24px
	&__icon
		position: absolute
		top: 4px
		left: -2px
		display: block
		width: 22px
		height: 22px
		& svg > path
			fill: $blue
			-webkit-transition: all .25s
			-moz-transition: all .25s
			transition: all .25s
	& > span
		border-bottom: 1px solid $blue_border
		color: #0C54A0
		padding-bottom: 2px
		-webkit-transition: all .25s
		-moz-transition: all .25s
		transition: all .25s
	&:hover
		& > span
			border-bottom-color: $link_hover_border
			color: $link_hover
		& .file__icon svg > path
			fill: $link_hover
	&__info
		color: #777777
		&-extension
		&-size
			margin-left: 7px
	

.tbl
	border-collapse: collapse
	width: 100%
	& thead
		th
			border-bottom: 1px solid rgba(0,0,0,.1)
			color: rgba(0,0,0,.5)
			font-size: 1.5rem
			font-weight: 400
			line-height: 1.6rem
			text-align: left
			padding-bottom: 10px
			&.th_number
				width: 132px
			&.th_summa
				width: 190px
			&.th_refit
				width: 170px
	&-report
		& tbody
			td
				font-size: 1.9rem
				line-height: 4rem
				&.rubl
					&:after
						content: '5'
						margin-left: 5px


.tabs
	&__switcher
		margin: 0
		padding: 0
		&-item
			display: inline-block
			vertical-align: top
			background: #EEF3F8
			border: 1px solid #EEF3F8
			border-radius: 5px
			color: $blue
			cursor: pointer
			font-size: 1.9rem
			margin-right: 12px
			margin-bottom: 16px
			padding: 11px 15px
			outline: none
			-webkit-transition: all .25s
			-moz-transition: all .25s
			transition: all .25s
			&:hover
				border: 1px solid $blue
			&._active
				background: $blue
				border-color: $blue
				color: #ffffff
		&-content
	&__item
		display: none
		&._active
			display: block

@media (max-width: 1160px)
	body
		overflow: auto