doctype html
html
	include inc/head
	body
		.layout
			include inc/header
			main.main
				include inc/section_hello
				include inc/section2
				include inc/section3
				include inc/section_handphone
				include inc/section_protect
				include inc/section_faq
				include inc/section_about
				include inc/section_map
		include inc/footer

		//- include inc/print

		.md.md-callback
			.md__overlay
			.md__container
				.md__inner
					.md-close.js-md-close Закрыть
					.md__header
						.title Заявка на обратный звонок
					.md__content
						form.form.js-form-callback(action="ajax/callback.php" method="POST")
							.form__item
								input.form__input(placeholder="Имя" name="name")
							.form__item
								input.form__input.js-phone(placeholder="Введите ваш номер" name="phone")
							.form__item
								.checkbox-box
									label
										input(type="checkbox" name="isAgree")
										span Согласен а обработку перс. данных
							.form__button
								button.btn.js-send-callback(type="button" disabled) Перезвоните мне
								.caption Перезвоним в течение 15 минут
						.answer-form
							.answer-form__txt Специалист перезвонит вам по номеру
							.answer-form__phone
								strong
							.answer-form__btn
								button.btn(type="button") Хорошо

		//- модалка с расчётом начислений
		.md.md-calculator.js-md_calculator-program
			.md__overlay
			.md__container
				.md__inner
					.md-close.js-md-close Закрыть
					.md__header
						.title График начислений<br> по программе 
							span.js-program-name
					.md__content
						.information.row
							.information__item.col.col-6
								label.information__item-label Сумма сбережения
								span.js-summa.rubl
							.information__item.col.col-6
								label.information__item-label Срок сбережения
								span.js-srok
							.information__item.col.col-6
								label.information__item-label Доход по программе
								span.js-dohod.rubl
							.information__item.col.col-6
								label.information__item-label Выплата процентов
								span.js-percent-type
							.information__item.col.col-6
								label.information__item-label Процентная ставка
								span.js-stavka
						table.tbl.tbl-report.js-calculator-tbl
							thead
								tr
									th.th_number Номер<br>месяца
									th.th_summa Сумма<br>сбережений
									th.th_refit Сумма<br>пополнений
									th Сумма<br>начисленных %
							tbody
					.md__footer
						table.tbl
							tr
								td.col-6.md__footer-itogo Итого: за 
									span.js-srok
									span <br>вы получите 
									span.js-total-itogo.rubl
								td.col-6.right
									button.btn.js-print-save(type="button")
										span Сохранить или распечатать
						.md__footer-note График показывает динамику начислений по сбережению и носит информационный характер

		//- модалка с полными условиями
		.md.md-usloviya.js-md_usloviya
			.md__overlay
			.md__container
				.md__inner
					.md-close.js-md-close Закрыть
					.md__header
						.title Полные условия программ
					.md__content
						.tabs.js-tabs
							ul.tabs__switcher
								li.tab(data-tab="0") Сезонный плюс
								li.tab(data-tab="1") Годовой плюс
								li.tab(data-tab="2") Стабильный плюс
							.tabs__content
								.tabs__content-item(data-tab="0") Сезонный плюс
								.tabs__content-item(data-tab="1") Годовой плюс
								.tabs__content-item(data-tab="2") Стабильный плюс
		
		//- модалка с картой
		.md.md-map.js-md_map
			.md__overlay
			.md__container
				.md__inner
					.md-close.js-md-close Закрыть
					.md__content
						.md__content-tabs
							.map__title
								h2.ttl.ttl_h2 Адреса офисов
							.map__content
								.tabs.js-tabs-map.row
									.tabs__switcher.col.col-6
										button.tabs__switcher-item(data-coords="55.74818547347099,37.6238328451877") Горьковский
										button.tabs__switcher-item(data-coords="55.75729498607369,37.61409483032777") Московские ворота
										button.tabs__switcher-item(data-coords="55.75815692454939,37.63876738498264") Новочеркасский
									.tabs__switcher-content.col.col-6
										.tabs__item
											p ул. Малая Посадская, дом 4а, лит. А, пом. 1-H Пн – Пт: 9:00 – 19:00, без перерыва. Сб, Вс: выходной
										.tabs__item
											p ул. Московские ворота
										.tabs__item
											p ул. Новочеркасский
										.map__save-scheme
											a.btn.js-save-scheme
												span Сохранить схему проезда
							
						#map-modal.map-modal
