doctype html
html
	include inc/head
	body
		.layout
			include inc/header
			main.main
				include inc/hello
				include inc/section2
				include inc/section3
				include inc/section_handphone
				include inc/section_protect
				include inc/section_faq
				include inc/section_about
				include inc/section_map
		include inc/footer
		.md.md-callback
			.md__overlay
			.md__container
				.md__inner
					.md-close.js-md-close Закрыть
					.md__header
						.title Заявка на обратный звонок
					.md__content
						form.form.js-form-callback(action="ajax/callback.php" method="POST")
							.form__item
								input.form__input(placeholder="Имя" name="name")
							.form__item
								input.form__input.js-phone(placeholder="Введите ваш номер" name="phone")
							.form__item
								.checkbox-box
									label
										input(type="checkbox" name="isAgree")
										span Согласен а обработку перс. данных
							.form__button
								button.btn.js-send-callback(type="button" disabled) Перезвоните мне
								.caption Перезвоним в течение 15 минут
						.answer-form
							.answer-form__txt Специалист перезвонит вам по номеру
							.answer-form__phone
								strong
							.answer-form__btn
								button.btn(type="button") Хорошо
